<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <% content_for :title, "Products" %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Products</h1>
    <%= link_to "New product", new_product_path, class: "rounded-lg py-3 px-5 bg-green-700 hover:bg-green-900 text-white block font-medium" %>
  </div>
  <div class="overflow-x-auto mt-5">
    <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
      <thead class="ltr:text-left rtl:text-right">
        <tr>
          <th class="whitespace-nowrap text-left px-4 py-2 font-medium text-gray-900">Image</th>
          <th class="whitespace-nowrap text-left px-4 py-2 font-medium text-gray-900">Name</th>
          <th class="whitespace-nowrap text-right px-4 py-2 font-medium text-gray-900">Price</th>
          <th class="text-right px-4 py-2"></th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <% if @products.any? %>
          <% @products.each do |product| %>
            <%= render product %>
          <% end %>
        <% else %>
          <tr>
            <td>No products</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
